<header class="center aligned header">
    <h1>High There!</h1>
</header>

<ul class="items" style="color: white !important;">
  <li class="item">
    <article class="content">
      <header class="header">Follow</header>
      <div class="description">
        <p>This app starts to work once you have selected at least 3 topics or people to follow</p>
      </div>
    </article>
  </li>
  <li class="item">
    <article class="content">
      <header class="header">Engage</header>
      <div class="description">
        <p>Next, we track which content you engage with</p>
      </div>
    </article>
  </li>
  <li class="item">
    <article class="content">
      <header class="header">Play</header>
      <div class="description">
        <p>Based on the content you interact with, your experience will become more tailored to your interests</p>
      </div>
    </article>
  </li>
</ul>