<header class="ui attached inverted menu">
  <span class="item">Dashboard component</span>

  <nav>
    <menu class="left menu">
      <menuitem class="item"><a>Link 1</a></menuitem>
      <menuitem class="item"><a>Link 2</a></menuitem>
    </menu>
  </nav>

  <div class="right menu" role="menu">
    <form class="ui action input form" [formGroup]="form" [ngClass]="{'error': form.errors && (form.dirty || form.touched), 'loading': loading}" (ngSubmit)="submitFeed()" role="form">
      <textarea class="field" rows="1" type="text" placeholder="Enter post.." formControlName="text" required autofocus></textarea>
      <button class="ui button" id="statusbox-submit" name="submit" type="submit" [disabled]="!form.valid" class="ui positive basic button" (click)="submitFeed()">Post</button>
    </form>
  </div>
</header>

  <!-- <h2>Dashboard component</h2> -->

<div class="ui basic segment container">

  <!-- <span class="ui horizontal divider">OR</span> -->
  <!-- <hr class="ui divider" role="decorative"> -->

  <section class="ui feed" role="log">
    <header>
      <h3>Feed</h3>
    </header>
    <article class="event" *ngFor="let item of feeds$ | async">
      <picture class="spaced image label">
        <!-- <img src="{{item.author.avartar}}"> -->
        <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
      </picture>
      <section class="content">
        <div class="summary">
          <a href="">{{item.name}}</a>
          <time class="date" datetime="2016-10-03T19:00">
            4 days ago
          </time>
        </div>
        <p class="extra text">
          {{item.text}}
        </p>
        <div class="meta">
          <button class="ui positive basic button">
            <i class="like icon"></i> 1 Like
          </button>
          <button class="ui negative basic button" (click)="removeFeed(item.id)">
             <i class="delete icon"></i> Delete
          </button>
        </div>
      </section>
    </article>
  </section>

</div>
