<!-- <aside  [class.visible]="showSignup" style="background-color: #16C98D; padding: 0 10px;" > -->
    <header class="center aligned header">
        <h1>Create Your Account</h1>
        <p>We'll email you your password, which you can change at any time.</p>
    </header>
    <form class="form">
        <div class="field">
            <label>Email Address</label>
            <input type="email" value="" autofocus>
        </div>
        <div class="field">
            <button class="button" type="submit">Sign Up Now</button>
        </div>
        <footer class="existing-user">
            <p>Have an account?</p>
            <a href="#">Sign In</a>
        </footer>
    </form>
  <!-- </aside> -->